body{
margin: 0%;
}
.sfondo {
background-image: url(pic/pattern.png);
background-color: #2e84da  ;
background-size: 15%;

}

#logo{
padding-top: 25px;
height: 50px;width: 100px;
}

#scritta{
    color: rgb(12, 120, 221);
}

.testo_grigio{
    color: gray;
}

.colore_giallo{
background-color: yellow;
}

#prima_riga{
    background-color: rgb(48, 152, 226);
}

.azzurro_chiaro{
    background-color: aqua;
}


.spazio_riga{
    padding: 25px;
}