body{
margin: 0%;
}
.sfondo {
background-image: url(pic/pattern.png);
background-color: #2e84da  ;
background-size: 15%;
}

#logo{
height: 50px;width: 100px;
}

.scritta01{
    color: gray;
}

#scritta02{
    color: rgb(12, 120, 221);
}